<div class="jumbotron bg-info">
    <div class="row">
      <div class="col">
        <a class="h3 text-white text-decoration-none" (click)="logo()"><i class="fa fa-heart"></i>Health Intel</a>
      </div>
  
      <div class="col-4 text-center">
      </div>
  
      <div class="col">
        <div class="float-right" *ngIf="!user">
              <button class="d-inline btn btn-outline-info bg-light mr-3" routerLink="/login">Login</button>
              <button class="d-inline btn btn-outline-info bg-light" routerLink="/signup"> Signup</button>
        </div>
      </div>
    </div>
  </div>

<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">      
                <p class='h4 text-center'> Frequently Asked Question's </p><hr>
                <div *ngFor="let faq of allFaqs" >
                    
                    <div class="card faqCards">
                        <div class="card-header">
                            <span class="font-weight-bold">{{faq.question}} </span>
                        </div>

                            <div class="card-body">
                               <span> {{faq.answer}} </span> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>