<div class="bg-dark text-light">


<div class="row p-5 text-center">

  <div class="col-4 pt-4">
    Copyrights <span class="copyright">&copy;</span> 2019 by Heath Intel Incorporation.
  </div>
  <div class="col-4 ">

    <h4> Connect with us!</h4><br>
    
    <ul class="list-inline">
      <li class="list-inline-item pr-3"><i class="fa fa-google-plus-square" style="font-size:32px"></i></li>
      <li class="list-inline-item pr-3"><i class="fa fa-facebook-square" style="font-size:32px"> </i></li>
      <li class="list-inline-item"><i class="fa fa-twitter-square" style="font-size:32px"> </i></li>
    </ul>
    
  </div>
  <div class="col-4">

    <ul class="list-unstyled">
      <li class="p-2"><a class="h5 text-decoration-none text-white" routerLink="/faq"> FAQ's </a></li>
      <li class="p-2"><a class="h5 text-decoration-none text-white" routerLink="/policies"> Policies </a></li>
      <li class="p-2"><a class="h5 text-decoration-none text-white" routerLink="/aboutus"> About Us </a></li>
      <li class="p-2"><a class="h5 text-decoration-none text-white" routerLink="/aboutus"> Terms Of Use </a></li>
    </ul>

  </div>
</div>



</div>