<div class="form-inline">
    <div class="form-group">
        <label>Your Message</label>
    </div>
    <div class="form-group p-2">
        <input class="form-control" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Click enter after message">
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-rounded"> >> </button>
    </div>
</div>

<ng-container *ngFor= "let message of messages | async ">

<div class="message border p-3" [ngClass]="{ 'from': message.sentBy === 'bot','to':message.sentBy ==='user'}">
  <strong>{{message.sentBy}}:</strong> {{message.content}}
</div> 
</ng-container>


