<div class="row">
    <div class="col-3">
       Your Message
    </div>
    <div class="col-6">
        <input  [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Click enter after message">
    </div>
    <div class="col-3">
        <button class="btn btn-info btn-rounded" (click)="sendMessage()" > Send </button>
    </div>
</div>

<ng-container *ngFor= "let message of messages | async ">

<div class="message border p-3" [ngClass]="{ 'from': message.sentBy === 'bot','to':message.sentBy ==='user'}">
  <strong>{{message.sentBy}}:</strong> {{message.content}}
</div> 
</ng-container>


