<app-navbar>
</app-navbar>
<div class="row">
    <div class="col-2 sidebar bg-white shadow mr-2 border-bottom pt-5"><app-sidebar></app-sidebar></div>

    <div class="col mainContent bg-light">
        
        <!--
        <div class="card mt-5 shadow">
            <div class="row ">
                <div class="col-4">
                    Appointments
                </div>
                <div class="col-4">
                    Consultations
                </div>
                <div class="col-4">
                    Cancellations
                </div>
            </div>
        </div>-->

        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header text-center"> Users </div>
                    <div class="card-body">

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Username</strong>
                                    </td>
                                    <td >
                                        <strong >Insurance ID</strong>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr *ngFor= "let user of users" >
                                    <td>
                                        {{user.username}}
                                    </td>
                                    <td>
                                        {{user.insuranceId}}
                                    </td>
                                    <td>
                                        <button class="btn btn-info"> View Profile </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <div class="card-header text-center"> Insurance Companies </div>
                    Bye World
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <div class="card-header text-center"> Pending Report Analysis</div>
                    asda
                </div>
            </div>
        </div>

        <div class="row mt-5 ">
                <div class="col-4">
                    <div class="card">
                    <div class="card-header">
                        Appointments
                    </div>
                    <div class="card-body"></div>
                </div>
                </div>

                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            Cancellations
                        </div>
                        <div class="card-body mr-3">
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                    
            </div>
        </div>

        

    </div>

</div>