<app-navbar>
</app-navbar>
<div class="row">
    <div class="col-2 sidebar bg-white shadow mr-2 border-bottom pt-5">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col mainContent bg-light pb-5 mr-3">

        <div class="row mt-5">

            <!--Appointments-->
            <div class="col">
                <div class="card shadow text-center p-5 bg-info deck1" *ngIf="allAppointments">
                    <a class="h5  text-white" routerLink="/appointments"> Sheduled Appointments: {{allAppointments.length}}
                    </a>
                </div>
            </div>

            <!--Insurance Companies-->
            <div class="col">
                <div class="card shadow text-center p-5 bg-info deck1" *ngIf="users">
                    <a class="h5  text-white" routerLink="/viewInsurance"> Insurance Companies: {{users.length}} </a>
                </div>
            </div>

            <!--Pending Report Analysis-->
            <div class="col">
                <div class="card shadow text-center p-5 bg-info deck1" *ngIf="pending">
                    <a class="h5  text-white" routerLink="/pendingReports"> Pending Report Analysis: {{pending.length}} </a>
                </div>
            </div>
        </div>

        <div class="row mt-5 ">

            <!--Users-->
            <div class="col-4">
                <div class="card shadow deck2">
                    <div class="card-header"> Users </div>
                    <div class="card-body">

                        <table class="table table-striped table-bordered table-sm row-border hover"  datatable>
                            <thead>
                                <tr>
                                    <td>
                                        <strong>Username</strong>
                                    </td>
                                    <td>
                                        <strong>Insurance ID</strong>
                                    </td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>
                                        {{user.username}}
                                    </td>
                                    <td>
                                        {{user.insuranceId}}
                                    </td>
                                    <td>
                                        <button class="btn btn-info" (click)="viewProfile(user.id)"> View
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Charts-->
            <div class="col-8">
                <div class="card shadow deck2">
                    <div class="card-header">
                        Current User Analysis Graph
                    </div>
                    <div class="card-body mr-3">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>