<app-navbar>
</app-navbar>
<div class="row">
    <div class="col-2 sidebar bg-white shadow mr-2 border-bottom pt-5"><app-sidebar></app-sidebar></div>

    <div class="col mainContent bg-light pb-5 mr-3">

        <div class="row mt-5">

            <!--Appointments-->
            <div class="col">
                <div class="card shadow deck1">
                    <div class="card-header">
                        Appointments
                    </div>
                    <div class="card-body"></div>
                    </div>
            </div>

            <!--Insurance Companies-->
            <div class="col">
                <div class="card shadow deck1 ">
                    <div class="card-header text-center"> Insurance Companies </div>
                    Bye World
                </div>
            </div>

            <!--Pending Report Analysis-->
            <div class="col">
                <div class="card shadow deck1">
                    <div class="card-header text-center"> Pending Report Analysis</div>
                    asda
                </div>
            </div>
        </div>

        <div class="row mt-5 ">

            <!--Users-->
                <div class="col-4">
                    <div class="card shadow deck2">
                        <div class="card-header text-center"> Users </div>
                        <div class="card-body">
    
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Username</strong>
                                        </td>
                                        <td >
                                            <strong >Insurance ID</strong>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr *ngFor= "let user of users" >
                                        <td>
                                            {{user.username}}
                                        </td>
                                        <td>
                                            {{user.insuranceId}}
                                        </td>
                                        <td>
                                            <button class="btn btn-info"> View Profile </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            <!--Charts-->
                <div class="col-8">
                    <div class="card shadow deck2">
                        <div class="card-header">
                            Cancellations
                        </div>
                        <div class="card-body mr-3">
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                    
            </div>
        </div>

    </div>

</div>