<!-- <div class="Absolute-Center is-Responsive"> -->
  <div class="wrapper d-flex align-items-center justify-content-center">
    <div class="card text-center">
      <div class="card-header">
        <a class="h4 font-weight-bold font-italic text-info text-decoration-none" routerLink="/"> Health Intel</a>
      </div>
      <div class="card-body p-5">
          <!--Email-->
          <div class="form-group">
            <div class="input-group">
              <input type="text" id="email" class="form-control" placeholder="Emai Id" required>
              <div class="input-group-addon">
                <span class="fa fa-envelope fa-lg border"></span>
              </div>
            </div>
            <div *ngIf="formErrors.email" class="text-danger">{{formErrors.email}} </div>
          </div>
  
          <span class="text-danger">{{errorMsg}}</span>
          <button class="btn btn-info text-uppercase submit" data-toggle="modal" data-target="#exampleModalCenter" > Submit</button>

          <!-- Forgot Password Modal-->
          <div class="modal" id="exampleModalCenter" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <strong>  Password reset link has been successfully sent to you Email Id </strong> <hr>
                  <button class="btn btn-success" data-dismiss="modal" routerLink="/">Close</button>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  
  