<app-navbar>
</app-navbar>
<div class="row">
    <div class="col-2 sidebar bg-white shadow mr-2 border-bottom pt-5">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col mainContent bg-light pb-5">

        <div class="row mt-5 pb-3">

            <!--Appointments in dashboard-->
            <div class="col">
                <div class="card deck1 shadow bg-info text-center p-5 text-center">
                    <div *ngFor="let user of users">
                        <div *ngIf="user.username==username">
                            <a class="h5 text-white" *ngIf="user.appointments!=null" routerLink="/appointments">
                                Upcoming Appointments: {{user.appointments.length}}
                            </a>
                            <a class="h5 text-white" *ngIf="user.appointments == 0" routerLink="/appointments">
                                No appointments scheduled
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Latest Events -->
            <div class="col">
                <div class="card  shadow text-center bg-info p-2 deck1">
                    <p class="h5 text-uppercase text-white mb-5" ><u> Quiz</u> </p>
                    <a class="btn btn-secondary transparent" routerLink="/questions"> Take a Quiz </a>
                </div>
            </div>


            <!--REPORTS -->
            <div class="col">
                <div class="card deck1 bg-info p-2 shadow text-center">
                        <div class="header mb-2"><span class="h5 text-muted"><u>Latest Event </u></span> <a class="card-link small float-right"
                            routerLink="/events">See all >></a> </div>
                        <div *ngIf="loading">
                            <i aria-hidden="true" class="fa fa-spinner fa-5x fa-spin"></i>
                        </div>
                        <div *ngIf="!loading">
                            <h4 class="text-white"> {{latestEvent.eventName}} </h4>
                            <h6>{{latestEvent.location}}</h6>
                            <h6>{{latestEvent.date |date:'mediumDate'}}</h6>
                        </div>
                    
                </div>
            </div>
        </div>


        <div class="row mt-5 pb-3">

            <!--Charts-->
            <div class="col-8">
                <div class="card  shadow text-center">
                    <div class="card-header "> Charts </div>
                    <div class="card-body deck2">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>


            <!--Reports-->
            <div class="col-4">
                <div class="card  shadow ">
                    <div class="card-header text-center"> Talk to Bot </div>
                    <div class="card-body deck2">
                        <app-chatbot></app-chatbot>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<app-footer></app-footer>