<div class="box">
  News: Over a million people choose health intel care coverage.
</div>
<div class="banner text-center text-light bg-info">
  <div class="bannerContent">
  <h1><i class="fa fa-heart"></i> <span class="logo-title">Health Intel</span>  </h1>
  <p class="bannerContent1" >Learn about reducing out of pocket costs </p>
  <p class="bannerContent2">
    Medicare Supplement Insurance plans can help pay for some out-of-pocket Medicare expenses.
  </p>
</div>
  <div class="buttons">
    <a class="btn btn-light mr-5" routerLink="/signup"> Signup</a>
    <a class="btn btn-light " routerLink="/login"> Login</a>
  </div>

</div>
<div class="box ">
  News: Over a million people choose health intel care coverage.
</div>

<div class="healthcenter">

  <div class="row p-5">

    <div class="col-4">

      <p class="cards" > If you pay your premiums on time, your plan stays the same and can’t be canceled if you move within the U.S.</p>
    </div>
    <div class="col-4">
      <p class="cards"> If you apply for Medicare Supplement Insurance during your Open Enrollment Period, you cannot be denied coverage for pre - existing conditions.</p>
    </div>
    <div class="col-4">
      <p class="cards"> There are no network restrictions with Medicare Supplement Insurance plans, so you can see any doctor who accepts Medicare patients.</p>
    </div>

  </div>


</div>
<app-footer></app-footer>