.box{
    height: 50px;
    padding-top: 15px;
    text-align: center;
    color: white;
      
}

.banner{
    height:30em;
    background-image:linear-gradient(#5bc0de,transparent), url('/assets/unnamed2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.healthcenter{
    height: 30em
}

.card{
    height:21em
}

.banner{
    padding:100px 50px 70px 50px ;
}

.logo-title{
    font-family: Comic Sans MS;
}

.cards{
    font-size: 18px;
    font-weight: bold;
}


