<div class="box bg-info">
  "Happiness is a direction not a place"
</div>
<div class="banner text-center ">
  <div class="bannerContent">
  <h1><i class="fa fa-heart"></i> <span class="logo-title">Health Intel</span>  </h1>
  <p class="h3" > Start each day with a grateful heart </p>
</div>
  <div class="buttons">
    <a class="btn btn-info shadow-lg border mr-5" routerLink="/signup"> Signup</a>
    <a class="btn btn-info shadow-lg border" routerLink="/login"> Login</a>
  </div>

</div>
<div class="box bg-info" *ngIf="news">
  <a class="text-white" href="{{news.link}}">News: {{news.news}} </a>
</div>

<div class="healthcenter">

  <div class="row p-5">

    <div class="col-4">
      <p class="cards" > Stay upto date with  latest trends in health care </p>
    </div>

    <div class="col-4">
      <p class="cards"> We are a health care company that's building a happier world. </p>
    </div>
    <div class="col-4">
      <span class="cards"> We are glad to help you ! </span><a class="cards" routerLink=""> Contact Us </a>
    </div>

  </div>


</div>
<app-footer></app-footer>