<app-navbar></app-navbar>
<div class="row">
  <div class="col-2 sidebar bg-white shadow mr-2 border-bottom pt-5">
      <app-sidebar></app-sidebar>
  </div>

  <div class="col p-5">

    <a class="btn btn-white text-info border" routerLink="/addInsurance"><i class="fa fa-user"></i> Add Insurance Company </a>


    <div class="card mt-5">
      <div class="card-header text-center h5"> View Insurance Companies </div>
      <div class="card-body">

        <table class="table table-striped table-bordered table-sm row-border hover"  datatable >            
          <thead>
          <tr>
            <th>Insurance Companies</th>

            <th>Permit ID</th>

            <th>No. of Users</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let insurance of insurances">

            <td> {{insurance.insuranceName}}</td>
            <td> {{insurance.IRDA}} </td>
            <td> {{insurance.IRDA}} </td>
            <td> <a class="btn btn-info text-white"> View Profile </a> </td>
          </tr>
        </tbody>
        </table>
      </div>

    </div>


  </div>
</div>